@media(max-width:768px){
    .default{
        display: none;
    }

    .small_device{
        display: contents;
    }

    .banner_content h1 {
        font-size: 49px;
    }
}

@media(max-width:575px){
    .living_image {
       
        
    }

}